{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ form(form) }}
    <p>{{ data.info.count }}  character(s) found </p>
    <br />
    <div class="row " style="padding:2rem;">

    {%  for d in data['results'] %}
        {%  include 'singleCharacter.html.twig' with {'d': d} %}
    {% endfor %}


{% endblock %}